---
import Layout from '../layouts/RootLayout.astro';
---

<Layout title="contact" description="Get in touch — or just quietly lurk.">

<section class="max-w-2xl mx-auto px-4 py-16">

	<p class="mb-4 leading-relaxed">
        If you’re looking to get in touch, feel free to reach out.  
        <strong>Ilm (علم)</strong> is a quiet space for sharing ideas, writing, and reflection.  
        Here are a few ways to connect:
    </p>


	<ul class="list-inside list-disc space-y-2 mb-8">
		<li><a href="https://discord.com/users/558422695130169346" class="hover:underline">Discord</a></li>
		<li><a href="https://github.com/nawfay" class="hover:underline">GitHub</a></li>
		<li><a href="https://nawaf.homes" class="hover:underline">Personal site</a></li>
	</ul>

	<p class="mt-12 text-sm text-gray-500">
		Or don’t. Lurking is valid.
	</p>
</section>
</Layout>
