---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/RootLayout.astro';

const posts = (await getCollection('philosophy')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Home" description="Lorem ipsum dolor sit amet">

	<div class="m-8">
		<div class="text-xl">
			<h1 class="text-3xl font-bold pb-4">philosophy</h1>
			<hr />
		</div>
	</div>
	<section class="space-y-6">
		{
		posts.map((post) => (
			<a
			href={`/philosophy/${post.id}/`}
			class="block rounded-lg p-5 bg-card hover:shadow-md transition duration-200 border border-border hover:border-accent"
			>
			<h3 class="text-xl font-semibold flex items-center gap-2">
				{post.data.title}
			</h3>
			<p class="text-sm text-muted-foreground flex items-center gap-1 mt-1">
				📅 <FormattedDate date={post.data.pubDate} />
			</p>
			</a>
		))
		}
	</section>
</layout>

